<a href="https://colab.research.google.com/github/Yusuf5001/DA-with-Python/blob/main/Pandas_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [18]:
df = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
df

          W         X         Y         Z
A -0.854737  0.634098 -0.032096  0.151750
B  0.957280  0.564475  0.426793 -0.444872
C  0.001164 -0.116136 -1.756161 -0.883415
D  1.470300 -0.498412  1.683739  0.442505
E  0.383003  1.115475 -0.807550 -0.265069

In [20]:
df.reset_index()

  index         W         X         Y         Z
0     A -0.854737  0.634098 -0.032096  0.151750
1     B  0.957280  0.564475  0.426793 -0.444872
2     C  0.001164 -0.116136 -1.756161 -0.883415
3     D  1.470300 -0.498412  1.683739  0.442505
4     E  0.383003  1.115475 -0.807550 -0.265069

In [23]:
df.reset_index(drop=True, inplace=True)

In [25]:
df

          W         X         Y         Z
0 -0.854737  0.634098 -0.032096  0.151750
1  0.957280  0.564475  0.426793 -0.444872
2  0.001164 -0.116136 -1.756161 -0.883415
3  1.470300 -0.498412  1.683739  0.442505
4  0.383003  1.115475 -0.807550 -0.265069

In [26]:
new_index = "CA NY WY OR CO".split()
new_index

['CA', 'NY', 'WY', 'OR', 'CO']

In [28]:
df["newindex"]=new_index
df

          W         X         Y         Z newindex
0 -0.854737  0.634098 -0.032096  0.151750       CA
1  0.957280  0.564475  0.426793 -0.444872       NY
2  0.001164 -0.116136 -1.756161 -0.883415       WY
3  1.470300 -0.498412  1.683739  0.442505       OR
4  0.383003  1.115475 -0.807550 -0.265069       CO

In [30]:
df.set_index("newindex", inplace=True)
df

                 W         X         Y         Z
newindex
CA       -0.854737  0.634098 -0.032096  0.151750
NY        0.957280  0.564475  0.426793 -0.444872
WY        0.001164 -0.116136 -1.756161 -0.883415
OR        1.470300 -0.498412  1.683739  0.442505
CO        0.383003  1.115475 -0.807550 -0.265069

In [31]:
outside = ['M1', 'M1', 'M1', 'M2', 'M2', 'M2','M3', 'M3', 'M3']
inside = [1, 2, 3, 1, 2, 3, 5, 6, 7]
multi_index = list(zip(outside, inside))
multi_index

[('M1', 1),
 ('M1', 2),
 ('M1', 3),
 ('M2', 1),
 ('M2', 2),
 ('M2', 3),
 ('M3', 5),
 ('M3', 6),
 ('M3', 7)]

In [36]:
df2 = pd.DataFrame(np.random.randn(9,4), index=multi_index, columns=["A", "B", "C", "D"])
df2

                A         B         C         D
(M1, 1)  0.398558  1.584034 -0.591437 -0.542991
(M1, 2) -1.950677  0.623351  0.700301 -1.185764
(M1, 3)  0.303013 -0.272673 -0.011230 -0.467764
(M2, 1)  0.097055  0.095953  0.060286  2.410477
(M2, 2) -0.720475  0.024350 -0.550308  0.084137
(M2, 3)  0.669936  0.873381 -1.925871  0.012851
(M3, 5) -1.121160 -0.407162  0.416820 -0.550185
(M3, 6) -0.521382 -0.550770  0.241390  0.451124
(M3, 7) -2.564116 -1.181897  0.041134 -0.437365

In [37]:
hier_index = pd.MultiIndex.from_tuples(multi_index)

In [39]:
df3 = pd.DataFrame(np.random.randn(9,4), index=hier_index, columns=["A", "B", "C", "D"])
df3

             A         B         C         D
M1 1 -0.354110  0.845622 -1.135792 -1.173893
   2  0.849727 -1.398922  1.500964 -1.422942
   3 -0.360690 -1.806605  1.485871  0.035754
M2 1 -0.769538  0.475382  0.596267 -0.816726
   2 -0.528440 -0.575759  0.811858  0.159350
   3  0.391397  0.599289 -1.348294 -0.599297
M3 5 -1.189739  0.686755  0.069855 -1.035590
   6 -2.924057 -0.436321  0.178002  0.922167
   7  1.220649  1.063330 -2.290698 -0.314818

In [42]:
df3.loc["M1"]

          A         B         C         D
1 -0.354110  0.845622 -1.135792 -1.173893
2  0.849727 -1.398922  1.500964 -1.422942
3 -0.360690 -1.806605  1.485871  0.035754

In [43]:
type(df3.loc["M1"])

pandas.core.frame.DataFrame

In [45]:
df3.loc["M1"].loc[2]

A    0.849727
B   -1.398922
C    1.500964
D   -1.422942
Name: 2, dtype: float64

In [46]:
df3.index.names

FrozenList([None, None])

In [48]:
df3.index.names = ["Group", "Number"]
df3

                     A         B         C         D
Group Number
M1    1      -0.354110  0.845622 -1.135792 -1.173893
      2       0.849727 -1.398922  1.500964 -1.422942
      3      -0.360690 -1.806605  1.485871  0.035754
M2    1      -0.769538  0.475382  0.596267 -0.816726
      2      -0.528440 -0.575759  0.811858  0.159350
      3       0.391397  0.599289 -1.348294 -0.599297
M3    5      -1.189739  0.686755  0.069855 -1.035590
      6      -2.924057 -0.436321  0.178002  0.922167
      7       1.220649  1.063330 -2.290698 -0.314818

In [50]:
import seaborn as sns

In [52]:
df4 = sns.load_dataset("iris")
df4.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [54]:
df4.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [55]:
df4.species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [57]:
df4.groupby("species").mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [59]:
df4.groupby("species")["sepal_length"].sum()

species
setosa        250.3
versicolor    296.8
virginica     329.4
Name: sepal_length, dtype: float64

In [60]:
df4.groupby("species")["sepal_length", "sepal_width"].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            sepal_length  sepal_width
species
setosa             250.3        171.4
versicolor         296.8        138.5
virginica          329.4        148.7

In [63]:
data = {'Company':['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
       'Person':['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
       'Sales':[200, 120, 340, 124, 243, 350]}

df5 = pd.DataFrame(data=data)
df5

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [65]:
df5.groupby(["Company", "Person"]).describe().T

Company         FB           GOOG          MSFT
Person        Carl  Sarah Charlie    Sam    Amy Vanessa
Sales count    1.0    1.0     1.0    1.0    1.0     1.0
      mean   243.0  350.0   120.0  200.0  340.0   124.0
      std      NaN    NaN     NaN    NaN    NaN     NaN
      min    243.0  350.0   120.0  200.0  340.0   124.0
      25%    243.0  350.0   120.0  200.0  340.0   124.0
      50%    243.0  350.0   120.0  200.0  340.0   124.0
      75%    243.0  350.0   120.0  200.0  340.0   124.0
      max    243.0  350.0   120.0  200.0  340.0   124.0

In [66]:
df6 = pd.DataFrame({'groups': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
                   'var1': [10,23,33,22,11,99,76,84,45],
                   'var2': [100,253,333,262,111,969,405,578,760]})
df6

  groups  var1  var2
0      A    10   100
1      B    23   253
2      C    33   333
3      A    22   262
4      B    11   111
5      C    99   969
6      A    76   405
7      B    84   578
8      C    45   760

In [69]:
df6.groupby("groups").aggregate([np.min, np.median, np.max])

       var1             var2
       amin median amax amin median amax
groups
A        10     22   76  100    262  405
B        11     23   84  111    253  578
C        33     45   99  333    760  969

In [70]:
df6.groupby("groups").aggregate([min, len, np.max])

       var1          var2
        min len amax  min len amax
groups
A        10   3   76  100   3  405
B        11   3   84  111   3  578
C        33   3   99  333   3  969

In [72]:
df6.groupby("groups").aggregate({"var1":(min, max), "var2":"median"})

       var1       var2
        min max median
groups
A        10  76    262
B        11  84    253
C        33  99    760

In [73]:
def filter_func(x):
  return x["var1"].mean()>40
df6.groupby("groups").filter(filter_func)

  groups  var1  var2
2      C    33   333
5      C    99   969
8      C    45   760

In [74]:
df6.groupby("groups").filter(lambda x: x["var2"].sum()>100 )

  groups  var1  var2
0      A    10   100
1      B    23   253
2      C    33   333
3      A    22   262
4      B    11   111
5      C    99   969
6      A    76   405
7      B    84   578
8      C    45   760

In [78]:
df_a = df6.iloc[:, 1:3]
df_a

   var1  var2
0    10   100
1    23   253
2    33   333
3    22   262
4    11   111
5    99   969
6    76   405
7    84   578
8    45   760

In [79]:
df_a.transform(lambda x:(x - x.mean()/x.std()))

        var1        var2
0   8.660179   98.584011
1  21.660179  251.584011
2  31.660179  331.584011
3  20.660179  260.584011
4   9.660179  109.584011
5  97.660179  967.584011
6  74.660179  403.584011
7  82.660179  576.584011
8  43.660179  758.584011

In [81]:
df6

  groups  var1  var2
0      A    10   100
1      B    23   253
2      C    33   333
3      A    22   262
4      B    11   111
5      C    99   969
6      A    76   405
7      B    84   578
8      C    45   760

In [82]:
df6.apply(np.sum)

groups    ABCABCABC
var1            403
var2           3771
dtype: object

In [ ]:
# filter function will reduce size of the data
# transform

In [87]:
df6["var1"].apply(np.mean)

0    10.0
1    23.0
2    33.0
3    22.0
4    11.0
5    99.0
6    76.0
7    84.0
8    45.0
Name: var1, dtype: float64

In [88]:
df6.var1.apply(np.mean)

0    10.0
1    23.0
2    33.0
3    22.0
4    11.0
5    99.0
6    76.0
7    84.0
8    45.0
Name: var1, dtype: float64

In [93]:
df6['var1'].apply(np.std)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: var1, dtype: float64

In [95]:
df6.groupby("groups").apply(np.sum)

       groups  var1  var2
groups
A         AAA   108   767
B         BBB   118   942
C         CCC   177  2062

In [96]:
df7 = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df7

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [98]:
df_b = df7.iloc[:, :2]
df_b

   col1  col2
0     1   444
1     2   555
2     3   666
3     4   444

In [99]:
df_b.apply(lambda x: x*3)

   col1  col2
0     3  1332
1     6  1665
2     9  1998
3    12  1332

In [102]:
df_b.col1.map({2:"B", 1:"A"})

0      A
1      B
2    NaN
3    NaN
Name: col1, dtype: object

In [103]:
data = {'gender':['male', 'female', 'female', 'male', 'female', 'male'],
       'sport':['tennis', 'tennis', 'basketball', 'football', 'voleyball', 'basketball'],
       'age':[20, 24, 26, 23, 22, 21],
       'height':[185, 172, 175, 178, 182, 196],
       'weight':[83, 58, 62, 80, 65, 90]}
df8 = pd.DataFrame(data)
df8

   gender       sport  age  height  weight
0    male      tennis   20     185      83
1  female      tennis   24     172      58
2  female  basketball   26     175      62
3    male    football   23     178      80
4  female   voleyball   22     182      65
5    male  basketball   21     196      90

In [106]:
df8.pivot_table(index="gender", columns="sport", values=["age", "height", "weight"])

              age                  ...   weight
sport  basketball football tennis  ... football tennis voleyball
gender                             ...
female       26.0      NaN   24.0  ...      NaN   58.0      65.0
male         21.0     23.0   20.0  ...     80.0   83.0       NaN

[2 rows x 12 columns]