In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("Untitled spreadsheet - Sheet1.csv", )

In [48]:
df

        Player  Teams  Maps  Rounds  K-D Diff   K/D  Rating2.0
0        ZywOo    NaN   140    3869       881  1.39       1.29
1        sh1ro    NaN   128    3540       801  1.41       1.23
2         NiKo    NaN   117    3106       368  1.19       1.20
3       m0NESY    NaN   117    3106       543  1.30       1.20
4       blameF    NaN   123    3432       432  1.21       1.19
5       s1mple    NaN   121    3311       505  1.25       1.19
6        Ax1Le    NaN   117    3221       327  1.16       1.16
7         ropz    NaN   144    3871       482  1.20       1.14
8        stavn    NaN   143    3824       253  1.10       1.13
9     SunPayus    NaN   109    2996       364  1.21       1.13
10       broky    NaN   144    3871       470  1.20       1.12
11       Spinx    NaN   140    3869       329  1.13       1.11
12     Twistzz    NaN   144    3871       227  1.09       1.10
13         NAF    NaN   129    3484       233  1.11       1.09
14    YEKINDAR    NaN   129    3484        -4  1.00       1.09
15      cadiaN    NaN   149    3997       266  1.11       1.09
16      HObbit    NaN   127    3513        35  1.02       1.08
17     huNter-    NaN   117    3106       160  1.08       1.07
18      Magisk    NaN   140    3869        53  1.02       1.07
19       jabbi    NaN   148    3975        98  1.04       1.06
20        rain    NaN   137    3702       -94  0.96       1.05
21      flameZ    NaN   120    3268       -87  0.96       1.05
22  electroNic    NaN   116    3183       -73  0.97       1.05
23       EliGE    NaN   126    3408         2  1.00       1.05
24       TeSeS    NaN   149    3997       -15  0.99       1.05
25       dycha    NaN   109    2996        10  1.00       1.05
26      k0nfig    NaN   103    2847        -7  1.00       1.04
27         jks    NaN   117    3106        76  1.04       1.04
28      sjuush    NaN   149    3997       -10  1.00       1.04
29         REZ    NaN   125    3388        54  1.03       1.04
30         b1t    NaN   123    3361        40  1.02       1.04
31      tabseN    NaN   101    2752      -138  0.93       1.03
32    Perfecto    NaN   116    3183        45  1.02       1.03
33        oSee    NaN   129    3484       166  1.08       1.03
34      Krimbo    NaN   101    2752        48  1.03       1.02
35     Brollan    NaN   125    3388      -251  0.89       0.99
36     dupreeh    NaN   119    3305      -113  0.95       0.99
37        k1to    NaN   101    2752      -198  0.90       0.98
38       Maden    NaN   109    2996      -198  0.91       0.97
39     NEOFRAG    NaN   105    2868      -267  0.87       0.96
40        F1KU    NaN   105    2870      -217  0.89       0.94
41     Aleksib    NaN   109    2997      -290  0.85       0.94
42      nafany    NaN   115    3158      -444  0.80       0.92
43      Snappi    NaN   109    2996      -375  0.82       0.91
44      dexter    NaN   103    2731      -329  0.83       0.90
45        apEX    NaN   140    3869      -505  0.81       0.90
46       nitr0    NaN   115    3108      -360  0.82       0.90
47    karrigan    NaN   144    3871      -668  0.75       0.86
48       HooXi    NaN   117    3106      -597  0.72       0.84

In [49]:
df.index

RangeIndex(start=0, stop=49, step=1)

In [50]:
df.index+=1

In [51]:
df

        Player  Teams  Maps  Rounds  K-D Diff   K/D  Rating2.0
1        ZywOo    NaN   140    3869       881  1.39       1.29
2        sh1ro    NaN   128    3540       801  1.41       1.23
3         NiKo    NaN   117    3106       368  1.19       1.20
4       m0NESY    NaN   117    3106       543  1.30       1.20
5       blameF    NaN   123    3432       432  1.21       1.19
6       s1mple    NaN   121    3311       505  1.25       1.19
7        Ax1Le    NaN   117    3221       327  1.16       1.16
8         ropz    NaN   144    3871       482  1.20       1.14
9        stavn    NaN   143    3824       253  1.10       1.13
10    SunPayus    NaN   109    2996       364  1.21       1.13
11       broky    NaN   144    3871       470  1.20       1.12
12       Spinx    NaN   140    3869       329  1.13       1.11
13     Twistzz    NaN   144    3871       227  1.09       1.10
14         NAF    NaN   129    3484       233  1.11       1.09
15    YEKINDAR    NaN   129    3484        -4  1.00       1.09
16      cadiaN    NaN   149    3997       266  1.11       1.09
17      HObbit    NaN   127    3513        35  1.02       1.08
18     huNter-    NaN   117    3106       160  1.08       1.07
19      Magisk    NaN   140    3869        53  1.02       1.07
20       jabbi    NaN   148    3975        98  1.04       1.06
21        rain    NaN   137    3702       -94  0.96       1.05
22      flameZ    NaN   120    3268       -87  0.96       1.05
23  electroNic    NaN   116    3183       -73  0.97       1.05
24       EliGE    NaN   126    3408         2  1.00       1.05
25       TeSeS    NaN   149    3997       -15  0.99       1.05
26       dycha    NaN   109    2996        10  1.00       1.05
27      k0nfig    NaN   103    2847        -7  1.00       1.04
28         jks    NaN   117    3106        76  1.04       1.04
29      sjuush    NaN   149    3997       -10  1.00       1.04
30         REZ    NaN   125    3388        54  1.03       1.04
31         b1t    NaN   123    3361        40  1.02       1.04
32      tabseN    NaN   101    2752      -138  0.93       1.03
33    Perfecto    NaN   116    3183        45  1.02       1.03
34        oSee    NaN   129    3484       166  1.08       1.03
35      Krimbo    NaN   101    2752        48  1.03       1.02
36     Brollan    NaN   125    3388      -251  0.89       0.99
37     dupreeh    NaN   119    3305      -113  0.95       0.99
38        k1to    NaN   101    2752      -198  0.90       0.98
39       Maden    NaN   109    2996      -198  0.91       0.97
40     NEOFRAG    NaN   105    2868      -267  0.87       0.96
41        F1KU    NaN   105    2870      -217  0.89       0.94
42     Aleksib    NaN   109    2997      -290  0.85       0.94
43      nafany    NaN   115    3158      -444  0.80       0.92
44      Snappi    NaN   109    2996      -375  0.82       0.91
45      dexter    NaN   103    2731      -329  0.83       0.90
46        apEX    NaN   140    3869      -505  0.81       0.90
47       nitr0    NaN   115    3108      -360  0.82       0.90
48    karrigan    NaN   144    3871      -668  0.75       0.86
49       HooXi    NaN   117    3106      -597  0.72       0.84

In [52]:
df=df.iloc[:, [0,2,3,4,5,6]]

In [53]:
df.head()

   Player  Maps  Rounds  K-D Diff   K/D  Rating2.0
1   ZywOo   140    3869       881  1.39       1.29
2   sh1ro   128    3540       801  1.41       1.23
3    NiKo   117    3106       368  1.19       1.20
4  m0NESY   117    3106       543  1.30       1.20
5  blameF   123    3432       432  1.21       1.19

In [54]:
df.Maps.mean()

123.73469387755102

In [55]:
df.Rounds.mean()

3362.326530612245

In [56]:
df.shape

(49, 6)

In [57]:
df1 = df[df["K-D Diff"]>0]

In [61]:
df1.shape

(27, 6)

In [62]:
df2 = df[df["K-D Diff"]<0]

In [63]:
df2.shape

(22, 6)

In [64]:
df.head()

   Player  Maps  Rounds  K-D Diff   K/D  Rating2.0
1   ZywOo   140    3869       881  1.39       1.29
2   sh1ro   128    3540       801  1.41       1.23
3    NiKo   117    3106       368  1.19       1.20
4  m0NESY   117    3106       543  1.30       1.20
5  blameF   123    3432       432  1.21       1.19

In [65]:
df["K/D"].mean()

1.0216326530612243

In [67]:
df["Rating2.0"].mean()

1.0479591836734694

In [77]:
df["New_Rating"] = df["Rating2.0"]*0.3+df["Maps"]*0.1+df["Rounds"]*0.1+df["K-D Diff"]*0.25+df["K/D"]*0.25

In [80]:
df.drop("New", axis=1, inplace=True)

In [81]:
df.head()

   Player  Maps  Rounds  K-D Diff   K/D  Rating2.0  New_Rating
1   ZywOo   140    3869       881  1.39       1.29    621.8845
2   sh1ro   128    3540       801  1.41       1.23    567.7715
3    NiKo   117    3106       368  1.19       1.20    414.9575
4  m0NESY   117    3106       543  1.30       1.20    458.7350
5  blameF   123    3432       432  1.21       1.19    464.1595

In [83]:
df.sort_values(by="New_Rating", ascending=False)

        Player  Maps  Rounds  K-D Diff   K/D  Rating2.0  New_Rating
1        ZywOo   140    3869       881  1.39       1.29    621.8845
2        sh1ro   128    3540       801  1.41       1.23    567.7715
8         ropz   144    3871       482  1.20       1.14    522.6420
11       broky   144    3871       470  1.20       1.12    519.6360
12       Spinx   140    3869       329  1.13       1.11    483.7655
16      cadiaN   149    3997       266  1.11       1.09    481.7045
6       s1mple   121    3311       505  1.25       1.19    470.1195
5       blameF   123    3432       432  1.21       1.19    464.1595
9        stavn   143    3824       253  1.10       1.13    460.5640
13     Twistzz   144    3871       227  1.09       1.10    458.8525
4       m0NESY   117    3106       543  1.30       1.20    458.7350
20       jabbi   148    3975        98  1.04       1.06    437.3780
14         NAF   129    3484       233  1.11       1.09    420.1545
7        Ax1Le   117    3221       327  1.16       1.16    416.1880
3         NiKo   117    3106       368  1.19       1.20    414.9575
19      Magisk   140    3869        53  1.02       1.07    414.7260
29      sjuush   149    3997       -10  1.00       1.04    412.6620
25       TeSeS   149    3997       -15  0.99       1.05    411.4125
34        oSee   129    3484       166  1.08       1.03    403.3790
10    SunPayus   109    2996       364  1.21       1.13    402.1415
17      HObbit   127    3513        35  1.02       1.08    373.3290
30         REZ   125    3388        54  1.03       1.04    365.3695
18     huNter-   117    3106       160  1.08       1.07    362.8910
21        rain   137    3702       -94  0.96       1.05    360.9550
15    YEKINDAR   129    3484        -4  1.00       1.09    360.8770
31         b1t   123    3361        40  1.02       1.04    358.9670
24       EliGE   126    3408         2  1.00       1.05    354.4650
28         jks   117    3106        76  1.04       1.04    341.8720
33    Perfecto   116    3183        45  1.02       1.03    341.7140
22      flameZ   120    3268       -87  0.96       1.05    317.6050
37     dupreeh   119    3305      -113  0.95       0.99    314.6845
26       dycha   109    2996        10  1.00       1.05    313.5650
23  electroNic   116    3183       -73  0.97       1.05    312.2075
35      Krimbo   101    2752        48  1.03       1.02    297.8635
27      k0nfig   103    2847        -7  1.00       1.04    293.8120
36     Brollan   125    3388      -251  0.89       0.99    289.0695
46        apEX   140    3869      -505  0.81       0.90    275.1225
39       Maden   109    2996      -198  0.91       0.97    261.5185
32      tabseN   101    2752      -138  0.93       1.03    251.3415
41        F1KU   105    2870      -217  0.89       0.94    243.7545
42     Aleksib   109    2997      -290  0.85       0.94    238.5945
38        k1to   101    2752      -198  0.90       0.98    236.3190
48    karrigan   144    3871      -668  0.75       0.86    234.9455
47       nitr0   115    3108      -360  0.82       0.90    232.7750
40     NEOFRAG   105    2868      -267  0.87       0.96    231.0555
44      Snappi   109    2996      -375  0.82       0.91    217.2280
43      nafany   115    3158      -444  0.80       0.92    216.7760
45      dexter   103    2731      -329  0.83       0.90    201.6275
49       HooXi   117    3106      -597  0.72       0.84    173.4820